.smoke-container {
  width: 70px;
  height: 55px;
  display: inline-block;
}

.smoke-container-1 {
  transform: translateY(10px);
}
.smoke-container-1 .smoke {
  animation: move-and-fade 2.5s linear infinite;
  animation-delay: 0.2s;
  width: 20px;
}
@keyframes move-and-fade {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translateY(-15px);
    opacity: 0;
  }
}

.smoke-container-2 {
  transform: translateY(0px);
}
.smoke-container-2 .smoke {
  animation: move-and-fade 2.5s linear infinite;
  animation-delay: 0s;
  width: 20px;
}
@keyframes move-and-fade {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.smoke-container-3 {
  transform: translateY(20px);
}
.smoke-container-3 .smoke {
  animation: move-and-fade 2.5s linear infinite;
  animation-delay: 0.4s;
  width: 20px;
}
@keyframes move-and-fade {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.smoke {
  stroke-dasharray: 100;
}
.smoke path {
  stroke: #dfd8d8;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  50% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}